# Specific files / folders
.saves/*
.Builds/*
.JuceLibraryCode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

JuceLibraryCode/ReadMe.txt
JuceLibraryCode/AppConfig.h
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_cryptography.cpp
JuceLibraryCode/include_juce_cryptography.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/include_juce_opengl.cpp
JuceLibraryCode/include_juce_opengl.mm
JuceLibraryCode/include_juce_video.cpp
JuceLibraryCode/include_juce_video.mm
JuceLibraryCode/JuceHeader.h
saves/default.isf
images/isomerIconBasic.jpeg
images/MolView.png
images/App Icon/isomerIcon_128.jpg
images/App Icon/isomerIcon_16.jpg
images/App Icon/isomerIcon_256.jpg
images/App Icon/isomerIcon_32.jpg
images/App Icon/isomerIcon_512.jpg
Builds/MacOSX/Info-App.plist
Builds/MacOSX/Isomer2.xcodeproj/project.pbxproj
Builds/MacOSX/Isomer2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/Isomer2.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Isomer2.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Isomer2.xcodeproj/xcuserdata/louise.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Builds/MacOSX/Isomer2.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/Isomer2 - App.xcscheme
Builds/MacOSX/Isomer2.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/Isomer2.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/Isomer2 - App.xcscheme
Builds/MacOSX/Isomer2.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/RecentFilesMenuTemplate.nib
manual/figures/Envelope WIndow - Envelope WIndow.jpg
manual/figures/Envelope WIndow - Rhythm Box.jpg
manual/figures/Envelope WIndow - Upwards Envelope.jpg
manual/figures/Envelope WIndow - Utlities.jpg
manual/figures/Introduction - Example 1.jpeg
manual/figures/Main Window - Edit Sequence.jpg
manual/figures/Main Window - File.jpg
manual/figures/Main Window - Global Settings.jpg
manual/figures/Main Window - Main Window.jpg
manual/figures/Main Window - New Sequence.jpg
manual/figures/Main Window - Transports.jpg
manual/figures/Main Window - Windows.jpg
manual/figures/Map Window - Example 1.jpg
manual/figures/Map Window - Example 2.jpg
manual/figures/Map Window - Map Window.jpg
manual/figures/Map Window - Node Map.jpg
manual/figures/Map Window - Node Screen Selection.jpg
manual/figures/Map Window - Node Selection.jpg
manual/figures/Node Settings Window - Node Settings Window.jpg
manual/figures/Sequence Edit Window - Sequence Edit Window.jpg
manual/figures/Settings Window - Activation.jpg
manual/figures/Settings Window - File.jpg
manual/figures/Settings Window - Midi.jpg
manual/Isomer Manual.gdoc
previous_versions/isomer_old/Builds/MacOSX/
previous_versions/isomer_old/Isomer.jucer
previous_versions/isomer_old/JuceLibraryCode/AppConfig.h
previous_versions/isomer_old/JuceLibraryCode/include_juce_audio_basics.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_audio_basics.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_audio_devices.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_audio_devices.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_core.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_core.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_cryptography.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_cryptography.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_data_structures.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_data_structures.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_events.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_events.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_graphics.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_graphics.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_gui_basics.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_gui_basics.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_gui_extra.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_gui_extra.mm
previous_versions/isomer_old/JuceLibraryCode/include_juce_product_unlocking.cpp
previous_versions/isomer_old/JuceLibraryCode/include_juce_product_unlocking.mm
previous_versions/isomer_old/JuceLibraryCode/JuceHeader.h
previous_versions/isomer_old/JuceLibraryCode/ReadMe.txt
previous_versions/isomer_old/presets/cycle6.isf
previous_versions/isomer_old/resources/images/adsr.png
previous_versions/isomer_old/resources/images/counterNode.png
previous_versions/isomer_old/resources/images/flashNode.png
previous_versions/isomer_old/resources/images/keyNode.png
previous_versions/isomer_old/resources/images/midiInNode.png
previous_versions/isomer_old/resources/images/noteSequenceNextNote.png
previous_versions/isomer_old/resources/images/noteSequenceNotePlayed.png
previous_versions/isomer_old/resources/images/noteSequencePlayNote.png
previous_versions/isomer_old/resources/images/noteSequenceStart.png
previous_versions/isomer_old/resources/images/noteSequenceStop.png
previous_versions/isomer_old/resources/images/transportPulse.png
previous_versions/isomer_old/resources/images/transportStart.png
previous_versions/isomer_old/resources/images/transportStop.png
previous_versions/isomer_old/resources/images/transportTime.png
previous_versions/isomer_old/saves/test.isf
previous_versions/isomer_old/Source/
previous_versions/zenit/Builds/MacOSX/Info.plist
previous_versions/zenit/Builds/MacOSX/RecentFilesMenuTemplate.nib
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/project.pbxproj
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/project.xcworkspace/contents.xcworkspacedata
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/xcuserdata/louise.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/zenit.xcscheme
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit/Builds/MacOSX/zenit.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/zenit.xcscheme
previous_versions/zenit/Builds/VisualStudio2013/Debug/resources.res
previous_versions/zenit/Builds/VisualStudio2013/Debug/vc120.idb
previous_versions/zenit/Builds/VisualStudio2013/Debug/vc120.pdb
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.Build.CppClean.log
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.ilk
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.log
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.pdb
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/cl.command.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/CL.read.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/cl.write.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/link.command.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/link.read.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/link.write.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/rc.command.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/rc.read.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/rc.write.1.tlog
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/unsuccessfulbuild
previous_versions/zenit/Builds/VisualStudio2013/Debug/zenit.tlog/zenit.lastbuildstate
previous_versions/zenit/Builds/VisualStudio2013/resources.rc
previous_versions/zenit/Builds/VisualStudio2013/zenit.sdf
previous_versions/zenit/Builds/VisualStudio2013/zenit.sln
previous_versions/zenit/Builds/VisualStudio2013/zenit.v12.suo
previous_versions/zenit/Builds/VisualStudio2013/zenit.vcxproj
previous_versions/zenit/Builds/VisualStudio2013/zenit.vcxproj.filters
previous_versions/zenit/JuceLibraryCode/AppConfig.h
previous_versions/zenit/JuceLibraryCode/JuceHeader.h
previous_versions/zenit/JuceLibraryCode/modules/juce_audio_basics/juce_audio_basics.h
previous_versions/zenit/JuceLibraryCode/modules/juce_audio_devices/juce_audio_devices.h
previous_versions/zenit/JuceLibraryCode/modules/juce_audio_formats/juce_audio_formats.h
previous_versions/zenit/JuceLibraryCode/modules/juce_audio_processors/juce_audio_processors.h
previous_versions/zenit/JuceLibraryCode/modules/juce_core/juce_core.h
previous_versions/zenit/JuceLibraryCode/modules/juce_cryptography/juce_cryptography.h
previous_versions/zenit/JuceLibraryCode/modules/juce_data_structures/juce_data_structures.h
previous_versions/zenit/JuceLibraryCode/modules/juce_events/juce_events.h
previous_versions/zenit/JuceLibraryCode/modules/juce_graphics/juce_graphics.h
previous_versions/zenit/JuceLibraryCode/modules/juce_gui_basics/juce_gui_basics.h
previous_versions/zenit/JuceLibraryCode/modules/juce_gui_extra/juce_gui_extra.h
previous_versions/zenit/JuceLibraryCode/modules/juce_opengl/juce_opengl.h
previous_versions/zenit/JuceLibraryCode/ReadMe.txt
previous_versions/zenit/Source/Hub.cpp
previous_versions/zenit/Source/Hub.h
previous_versions/zenit/Source/Main.cpp
previous_versions/zenit/Source/MainComponent.cpp
previous_versions/zenit/Source/MainComponent.h
previous_versions/zenit/Source/MultiTransport.cpp
previous_versions/zenit/Source/MultiTransport.h
previous_versions/zenit/Source/Transport.cpp
previous_versions/zenit/Source/Transport.h
previous_versions/zenit/zenit.jucer
previous_versions/zenit2/Builds/MacOSX/Info.plist
previous_versions/zenit2/Builds/MacOSX/RecentFilesMenuTemplate.nib
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/project.pbxproj
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/zenit2.xcscheme
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit2/Builds/MacOSX/zenit2.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/zenit2.xcscheme
previous_versions/zenit2/Builds/VisualStudio2013/Debug/resources.res
previous_versions/zenit2/Builds/VisualStudio2013/Debug/vc120.idb
previous_versions/zenit2/Builds/VisualStudio2013/Debug/vc120.pdb
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.Build.CppClean.log
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.log
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.pdb
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/cl.command.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/CL.read.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/cl.write.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/link.command.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/link.read.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/link.write.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/rc.command.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/rc.read.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/rc.write.1.tlog
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/unsuccessfulbuild
previous_versions/zenit2/Builds/VisualStudio2013/Debug/zenit2.tlog/zenit2.lastbuildstate
previous_versions/zenit2/Builds/VisualStudio2013/resources.rc
previous_versions/zenit2/Builds/VisualStudio2013/zenit2.sdf
previous_versions/zenit2/Builds/VisualStudio2013/zenit2.sln
previous_versions/zenit2/Builds/VisualStudio2013/zenit2.v12.suo
previous_versions/zenit2/Builds/VisualStudio2013/zenit2.vcxproj
previous_versions/zenit2/Builds/VisualStudio2013/zenit2.vcxproj.filters
previous_versions/zenit2/JuceLibraryCode/AppConfig.h
previous_versions/zenit2/JuceLibraryCode/JuceHeader.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_audio_basics/juce_audio_basics.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_audio_devices/juce_audio_devices.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_audio_formats/juce_audio_formats.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_audio_processors/juce_audio_processors.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_core/juce_core.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_cryptography/juce_cryptography.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_data_structures/juce_data_structures.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_events/juce_events.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_graphics/juce_graphics.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_gui_basics/juce_gui_basics.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_gui_extra/juce_gui_extra.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_opengl/juce_opengl.h
previous_versions/zenit2/JuceLibraryCode/modules/juce_video/juce_video.h
previous_versions/zenit2/JuceLibraryCode/ReadMe.txt
previous_versions/zenit2/Source/ChangeOut.cpp
previous_versions/zenit2/Source/ChangeOut.h
previous_versions/zenit2/Source/GUI.cpp
previous_versions/zenit2/Source/GUI.h
previous_versions/zenit2/Source/Hub.cpp
previous_versions/zenit2/Source/Hub.h
previous_versions/zenit2/Source/Main.cpp
previous_versions/zenit2/Source/MainComponent.cpp
previous_versions/zenit2/Source/MainComponent.h
previous_versions/zenit2/Source/MTimer.cpp
previous_versions/zenit2/Source/MTimer.h
previous_versions/zenit2/Source/MTimerCB.cpp
previous_versions/zenit2/Source/MTimerCB.h
previous_versions/zenit2/Source/MultiTransport.cpp
previous_versions/zenit2/Source/MultiTransport.h
previous_versions/zenit2/Source/MyFunctions.cpp
previous_versions/zenit2/Source/MyFunctions.h
previous_versions/zenit2/Source/Switch.cpp
previous_versions/zenit2/Source/Switch.h
previous_versions/zenit2/Source/Switchboard.cpp
previous_versions/zenit2/Source/Switchboard.h
previous_versions/zenit2/Source/Transport.cpp
previous_versions/zenit2/Source/Transport.h
previous_versions/zenit2/Source/Typedefs.h
previous_versions/zenit2/zenit2.jucer
previous_versions/zenit3/Builds/MacOSX/Info.plist
previous_versions/zenit3/Builds/MacOSX/RecentFilesMenuTemplate.nib
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/project.pbxproj
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/xcuserdata/louise.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/zenit3.xcscheme
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
previous_versions/zenit3/Builds/MacOSX/zenit3.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/zenit3.xcscheme
previous_versions/zenit3/Builds/VisualStudio2013/Debug/resources.res
previous_versions/zenit3/Builds/VisualStudio2013/Debug/vc120.idb
previous_versions/zenit3/Builds/VisualStudio2013/Debug/vc120.pdb
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.Build.CppClean.log
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.ilk
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.log
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.pdb
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/cl.command.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/CL.read.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/cl.write.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/link.command.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/link.read.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/link.write.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/rc.command.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/rc.read.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/rc.write.1.tlog
previous_versions/zenit3/Builds/VisualStudio2013/Debug/zenit3.tlog/zenit3.lastbuildstate
previous_versions/zenit3/Builds/VisualStudio2013/resources.rc
previous_versions/zenit3/Builds/VisualStudio2013/zenit3.sdf
previous_versions/zenit3/Builds/VisualStudio2013/zenit3.sln
previous_versions/zenit3/Builds/VisualStudio2013/zenit3.v12.suo
previous_versions/zenit3/Builds/VisualStudio2013/zenit3.vcxproj
previous_versions/zenit3/Builds/VisualStudio2013/zenit3.vcxproj.filters
previous_versions/zenit3/JuceLibraryCode/AppConfig.h
previous_versions/zenit3/JuceLibraryCode/JuceHeader.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_audio_basics/juce_audio_basics.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_audio_devices/juce_audio_devices.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_audio_formats/juce_audio_formats.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_audio_processors/juce_audio_processors.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_core/juce_core.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_cryptography/juce_cryptography.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_data_structures/juce_data_structures.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_events/juce_events.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_graphics/juce_graphics.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_gui_basics/juce_gui_basics.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_gui_extra/juce_gui_extra.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_opengl/juce_opengl.h
previous_versions/zenit3/JuceLibraryCode/modules/juce_video/juce_video.h
previous_versions/zenit3/JuceLibraryCode/ReadMe.txt
previous_versions/zenit3/Source/ChangeIn.cpp
previous_versions/zenit3/Source/ChangeIn.h
previous_versions/zenit3/Source/ChangeOut.cpp
previous_versions/zenit3/Source/ChangeOut.h
previous_versions/zenit3/Source/GUI.cpp
previous_versions/zenit3/Source/GUI.h
previous_versions/zenit3/Source/Hub.cpp
previous_versions/zenit3/Source/Hub.h
previous_versions/zenit3/Source/Ideas.h
previous_versions/zenit3/Source/Linker.cpp
previous_versions/zenit3/Source/Linker.h
previous_versions/zenit3/Source/Lists.h
previous_versions/zenit3/Source/Main.cpp
previous_versions/zenit3/Source/MainComponent.cpp
previous_versions/zenit3/Source/MainComponent.h
previous_versions/zenit3/Source/MapCircle.cpp
previous_versions/zenit3/Source/MapCircle.h
previous_versions/zenit3/Source/MapNetworks.cpp
previous_versions/zenit3/Source/MapNetworks.h
previous_versions/zenit3/Source/MapSelection.cpp
previous_versions/zenit3/Source/MapSelection.h
previous_versions/zenit3/Source/MapWindow.cpp
previous_versions/zenit3/Source/MapWindow.h
previous_versions/zenit3/Source/MapWindowMC.cpp
previous_versions/zenit3/Source/MapWindowMC.h
previous_versions/zenit3/Source/MasterTransport.cpp
previous_versions/zenit3/Source/MasterTransport.h
previous_versions/zenit3/Source/MultiTimerWrapper.cpp
previous_versions/zenit3/Source/MultiTimerWrapper.h
previous_versions/zenit3/Source/MultiTransport.cpp
previous_versions/zenit3/Source/MultiTransport.h
previous_versions/zenit3/Source/MyFunctions.cpp
previous_versions/zenit3/Source/MyFunctions.h
previous_versions/zenit3/Source/Switch.cpp
previous_versions/zenit3/Source/Switch.h
previous_versions/zenit3/Source/Switchboard.cpp
previous_versions/zenit3/Source/Switchboard.h
previous_versions/zenit3/Source/TimerCB.cpp
previous_versions/zenit3/Source/TimerCB.h
previous_versions/zenit3/Source/Transport.cpp
previous_versions/zenit3/Source/Transport.h
previous_versions/zenit3/Source/TransportControls.cpp
previous_versions/zenit3/Source/TransportControls.h
previous_versions/zenit3/Source/Typedefs.h
previous_versions/zenit3/Source/WindowButtons.cpp
previous_versions/zenit3/Source/WindowButtons.h
previous_versions/zenit3/zenit3.jucer
previous_versions/zenit4/
